<!DOCTYPE html>
<html>
<head>
    <title>Тест безпеки</title>
</head>
<body>
    <h1>Оцініть свою поведінку в Інтернеті</h1>

    <form method="POST">

        <p>a. Що ви публікуєте?</p>
        <input type="radio" name="a" value="3"> Все (3 бали)<br>
        <input type="radio" name="a" value="2"> Новини (2 бали)<br>
        <input type="radio" name="a" value="1"> Фільтрую (1 бал)<br>
        <input type="radio" name="a" value="0"> Нічого (0 балів)<br>

        <p>b. Паролі:</p>
        <input type="radio" name="b" value="3"> Один пароль (3 бали)<br>
        <input type="radio" name="b" value="3"> Простий пароль (3 бали)<br>
        <input type="radio" name="b" value="1"> Менеджер паролів (1 бал)<br>
        <input type="radio" name="b" value="1"> Схожий пароль (1 бал)<br>
        <input type="radio" name="b" value="0"> Унікальний пароль (0 балів)<br>

        <p>c. Email:</p>
        <input type="radio" name="c" value="0"> Не відкриваю (0 балів)<br>
        <input type="radio" name="c" value="3"> Натискаю всі (3 бали)<br>
        <input type="radio" name="c" value="2"> Якщо знайомий (2 бали)<br>
        <input type="radio" name="c" value="1"> Перевіряю URL (1 бал)<br>

        <p>d. Спливаюче вікно:</p>
        <input type="radio" name="d" value="3"> Встановлюю (3 бали)<br>
        <input type="radio" name="d" value="3"> Перевіряю (3 бали)<br>
        <input type="radio" name="d" value="0"> Ігнорую (0 балів)<br>

        <p>e. Онлайн-банк:</p>
        <input type="radio" name="e" value="3"> Одразу вводжу (3 бали)<br>
        <input type="radio" name="e" value="0"> Перевіряю URL (0 балів)<br>
        <input type="radio" name="e" value="0"> Не використовую (0 балів)<br>

        <p>f. Програма з сайту:</p>
        <input type="radio" name="f" value="3"> Завантажую (3 бали)<br>
        <input type="radio" name="f" value="1"> Перевіряю (1 бал)<br>
        <input type="radio" name="f" value="0"> Не качаю (0 балів)<br>

        <p>g. USB:</p>
        <input type="radio" name="g" value="3"> Вставляю (3 бали)<br>
        <input type="radio" name="g" value="3"> Форматую (3 бали)<br>
        <input type="radio" name="g" value="3"> Антивірус (3 бали)<br>
        <input type="radio" name="g" value="0"> Не беру (0 балів)<br>

        <p>h. Wi-Fi:</p>
        <input type="radio" name="h" value="3"> Підключаюсь (3 бали)<br>
        <input type="radio" name="h" value="0"> Чекаю (0 балів)<br>
        <input type="radio" name="h" value="0"> VPN (0 балів)<br>

        <br><br>
        <button type="submit">Підрахувати</button>

    </form>
</body>
</html>